<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.jiguang.plugins.core">

    <application >
        <service android:name="cn.jiguang.plugins.service.JCoreModuleService">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
    </application>
</manifest>
